<div class="container">
    <mat-grid-list cols="2" gutterSize="9%" rowHeight="1:1" style="padding:10px">
        <mat-grid-tile matRipple [matRippleCentered]=true (click)="clickGettingStarted()">
            <div class="top">
                <fa-icon class="yo" [icon]="faTerminal" size="7x"></fa-icon>
                <h1 class="space">Getting Started</h1>
            </div>
        </mat-grid-tile>
        <mat-grid-tile matRipple [matRippleCentered]=true (click)="clickUpload()">
            <div class="top">
                <fa-icon class="yo" [icon]="faCoffee" size="7x"></fa-icon>
                <h1 class="space">Upload</h1>
            </div>
            </mat-grid-tile>
    </mat-grid-list>
</div>
