<p>download works!</p>

<a href="assets/pythonMarker.exe" download="pythonMarker.exe">Click here</a>

<div id="ff-compose"></div>
<script async defer src="https://formfacade.com/include/108681976523810358966/form/1FAIpQLSfsgf3-M9WaeUvA1TnrjZb0WXvL9fppHHxaOZQL9Q9199SUVw/classic.js?div=ff-compose"></script>
<div id="ff-compose"></div>
<script async defer src="https://formfacade.com/include/108681976523810358966/form/1FAIpQLSfsgf3-M9WaeUvA1TnrjZb0WXvL9fppHHxaOZQL9Q9199SUVw/classic.js?div=ff-compose"></script>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfsgf3-M9WaeUvA1TnrjZb0WXvL9fppHHxaOZQL9Q9199SUVw/viewform?embedded=true" width="640" height="1947" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>