<div class="main">

    <mat-card class="example-card"> 
        <mat-card-title>Getting Started</mat-card-title>
        <mat-card-content>Note this will only work on Windows. If you are a University of York student with a Mac please follow the steps for Remote Desktop University Computer</mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Personal Computer">
                <p>Please click the Download button to download the python marker. Note it will only run on Windows.</p>
                <div class = "center">
                    <a href="assets/pythonMarker.exe" (click)="postDownload()">
                        <button mat-raised-button color='accent' class='download-button'><span>Download</span><fa-icon class="icon" [icon]="faFileDownload" size="2x"></fa-icon></button>
                    </a>
                </div>
                <mat-card-subtitle>Running the python marker</mat-card-subtitle>
                <mat-card-content>
                    From the command line navigate to the directory where the python marker was downloaded and run <span class='command'>name_of_python_marker runserver --noreload</span>
                    e.g. <span class='command'>python-marker123456 runserver --noreload</span>. Open 'http://127.0.0.1:8000' in a web-browser to access the python-marker.
                </mat-card-content>
                <mat-card-subtitle>Step-by-step</mat-card-subtitle>
                <mat-card-content>
                    1. Find where the python-marker was downloaded to
                    <h2>Chrome</h2>

                    <mat-card-subtitle>Microsoft Edge</mat-card-subtitle>


                </mat-card-content>

            </mat-tab>
            <mat-tab label="University Computer">University Computer</mat-tab>
            <mat-tab label="Remote Desktop University Computer">Remote Desktop University Computer</mat-tab>
          </mat-tab-group>
          <mat-card-content>
            <a href="assets/pythonMarker2.exe" (click)="postDownload()">Click here Windows 10</a>
            <h2><mat-card-subtitle>Running the exe</mat-card-subtitle></h2>
            <p> So </p>
        </mat-card-content>

    </mat-card>

</div>
