.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.example-card {
    margin-bottom: 30px;
    min-width: 55rem;
    max-width: 55rem;
}

  
.invalid {
    color: red;
}

.center {
    text-align: center;
    line-height: 4rem;
    position: relative;
}

.download-button {
    line-height: 3.5rem;
    width: 18%;
    font-size: large;
    text-align: left;

    span {
        padding-left: 0.3rem;
    }

    .icon {
        padding-left: 0.7rem;
        margin-top: 7px;
        position: absolute;
    }

}

.toggle {
    width: 99%;
    line-height: 2px;
    height: 1.4rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

li {
    padding-top: 15px;
}