<div class="main">
    <mat-card class="example-card"> 
        <mat-card-title>Download</mat-card-title>
                <mat-card-content>
                    <a href="assets/pythonMarker.exe" download="{{ downloadId }}.exe" (click)="postDownload()">Click here</a>
                    <h2><mat-card-subtitle>Running the exe</mat-card-subtitle></h2>
                    <p> So </p>
                </mat-card-content>
    </mat-card>
</div>
<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>