<p>upload works!</p>


<div class="main">
    <mat-card-content>
        <mat-card-title>Upload</mat-card-title>
            <mat-card-content>
                <input type="file" class="file-input" (change)="handleFileInput($event)" #fileUpload>
            </mat-card-content>
        <mat-card-actions>
            <span>{{errorMessage}}</span>
            <button mat-button type="submit" (click)="onSubmit()">Submit</button>
            <button mat-button type="reset">Cancel</button>
            <span>{{ successMessage }}</span>
        </mat-card-actions>
    </mat-card-content>
</div>
