.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.example-card {
    margin-bottom: 30px;
    min-width: 55rem;
    max-width: 55rem;
}

.invalid {
    color: red;
}

mat-card-subtitle {
    margin-bottom: 5px;
}

.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
    margin-top: 1.5rem;
}

h4 {
    margin-bottom: 0.2rem;
}