.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.example-card {
    min-width: 55rem;
}
  
.invalid {
    color: red;
}

mat-card-subtitle {
    margin-bottom: 5px;
}

.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
    margin-top: 1.5rem;
}